<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<p-divider></p-divider>
<div class="d-flex align-items-center justify-content-center">
  <span class="p-input-icon-left">
    <i class="fa-solid fa-magnifying-glass" style="font-size: 1.5em;"></i>
    <input type="text" pInputText [(ngModel)]="value" (ngModelChange)="onInputChange($event)"  style="width: 100%; height: 30px;" />
  </span>
  <p-paginator (onPageChange)="onPageChange($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
    [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 50]" class="mx-2"></p-paginator>
  <h3 class="mb-0">Mostrando {{oPage?.numberOfElements}} de {{oPage?.totalElements}}</h3>
</div>
<div class="container mb-5 mt-3" >          

  <p-table [value]="pedidos">

    <ng-template pTemplate="header">
      <tr>
        <th (click)="doOrder('id')">Id</th>
        <th (click)="doOrder('fecha_pedido')">Fecha_pedido</th>
        <th (click)="doOrder('estado_pedido')">Estado_pedido</th>
        <th >Usuarios</th>
        <th >Facturas</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pedido of oPage?.content class="align-middle">
      <tr >
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.fecha_pedido }}</td>
        <td>{{ pedido.estado_pedido }}</td>
    
        <td class="text-center">
          <a [routerLink]="['/admin','usuario','plist','byusuario',pedido.user.id]">({{pedido.user.id}})({{pedido.user.nombre}})({{pedido.user.apellido1}}) </a>
        </td>
        
        
        <td class="text-center">

          <div  class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <p-button [rounded]="true" [outlined]="true" [routerLink]="['/admin','user','view',pedido.id]"><i
                class="fa-solid fa-eye" ></i></p-button>

            <p-button [rounded]="true" severity="success" [outlined]="true"[routerLink]="['/admin','user','edit',pedido.id]"><i
                class="fa-solid fa-pen-to-square"></i></p-button>
            <p-button [rounded]="true" severity="warning" [outlined]="true"><i class="fa-solid fa-circle-up"></i></p-button>
     
            <p-button [rounded]="true" severity="danger" [outlined]="true" *ngIf="pedido.categoria===0" 
              (click)="doRemove(pedido)"><i class="fa-solid fa-trash"></i></p-button>
          </div>
        </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <th (click)="doOrder('fechaPedido')">Fecha Pedido</th>
        <th (click)="doOrder('Estado Pedido')">Estado</th>
        <th >Usuarios</th>
        <th >Facturas</th>
      </tr>
    </ng-template>
  </p-table>

</div>


<p-confirmDialog #cd [style]="{ width: '30vw' }">
  <ng-template pTemplate="header">
    <h5><i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem"></i> User removal</h5>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="container d-flex align-items-center justify-content-center">
   
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>¿Seguro que quieres eliminar este usuario?</p>
    <button class="btn btn-primary mx-1" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
    <button class="btn btn-danger mx-1" pButton icon="pi pi-check" label="Sí" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>