<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>


<p-divider></p-divider>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-7 col-md-12 col-sm-12">
      <div class="d-flex align-items-center">
       
        <p-paginator (onPageChange)="onPageChange($event)" [first]="oPaginatorState.first!"
          [rows]="oPaginatorState.rows!" [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 50]"
          class="mx-2"></p-paginator>
          <h3 *ngIf="id_usuario > 0; else noFilter">
            ({{ id_usuario }} - {{ oUsuario?.nombre }})
            <a type="button" class="btn btn-primary " [routerLink]="['/admin', 'pedido', 'plist']">Reset filter</a>
          </h3>
  
          <ng-template #noFilter>
         
          </ng-template>

      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-lg-12 col-md-12 d-flex align-items-center justify-content-center">
         
          <h3 class="text-center mb-0">Mostrando {{ oPage?.numberOfElements }} de {{ oPage?.totalElements }}</h3>
        </div>
      </div>




  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12 col-sm-12">        

  <p-table [value]="pedidos">

    <ng-template pTemplate="header">
      <tr>
        <th (click)="doOrder('id')">Id</th>
        <th (click)="doOrder('fecha_pedido')">Fecha pedido</th>
        <th (click)="doOrder('fecha_entrega')">Fecha entrega</th>
        <th (click)="doOrder('estado_pedido')">Estado pedido</th>
        <th >Usuarios</th>
        <th>Detalles Pedido</th>
        <th >Facturas</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pedido of oPage?.content class="align-middle">
      <tr >
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.fecha_pedido | date: 'dd/MM/yyyy'}}</td>
        <td>{{ pedido.fecha_entrega | date: 'dd/MM/yyyy'}}</td>
       
        <td class="text-center">
          <span *ngIf="pedido.estado_pedido ==true">Entregado</span>
          <span *ngIf="pedido.estado_pedido ==false">No entregado</span>
        </td>
    
        <td class="text-center">
          <a [routerLink]="['/admin','pedido','plist','byusuario',pedido.user.id]">({{pedido.user.id}})({{pedido.user.nombre}})({{pedido.user.apellido1}}) </a>
        </td>
        
        <td class="text-center">

          <a [routerLink]="['/admin','detallePedido','plist','bypedido',pedido.id]" *ngIf="pedido.detallePedidos>0">
            {{ pedido.detallePedidos }}
          </a>
          <span *ngIf="pedido.detallePedidos==0">0</span>
        </td>
        <td>{{pedido.id_factura}}</td>

        <td class="text-center">

          <a  [routerLink]="['/admin','pedido','view',pedido.id]"  class="icon-link"><i
            class="fa-solid fa-eye" ></i></a>

          <a [routerLink]="['/admin','pedido','edit',pedido.id]"  class="icon-link"><i
            class="fa-solid fa-pen-to-square"></i>
          </a>

          <a (click)="doView(pedido)"  class="icon-link"><i class="fa-solid fa-circle-up"></i>
          </a>
         
          <a *ngIf="pedido.categoria===0" 
          (click)="doRemove(pedido)"><i class="fa-solid fa-trash"  class="icon-link"></i>
          </a>
       
        </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <th (click)="doOrder('id')">Id</th>
        <th (click)="doOrder('fecha_pedido')">Fecha pedido</th>
        <th (click)="doOrder('fecha_entrega')">Fecha entrega</th>
        <th (click)="doOrder('estado_pedido')">Estado pedido</th>
        <th >Usuarios</th>
        <th>Detalles Pedido</th>
        <th >Facturas</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
  </p-table>

</div>


<p-confirmDialog #cd >
  <ng-template pTemplate="header">
    <h5 class="confirm-dialog-header">Eliminar pedido</h5>  </ng-template>
  <ng-template pTemplate="message">
    <div class="container d-flex align-items-center justify-content-center">
      <app-admin-pedido-detail-unrouted [id]="pedidoToRemove!.id"></app-admin-pedido-detail-unrouted>

    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>¿Seguro que quieres eliminar este pedido?</p>
    <button class="btn btn-primary mx-1" pButton  label="No" (click)="cd.reject()"></button>
    <button class="btn btn-danger mx-1" pButton  label="Sí" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>
