<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-6 d-none d-md-block">
      <img src="http://127.0.0.1:8085/media/Logo.png" alt="Imagen Logo">
    </div>
    <div class="col-lg-5 col-md-6 col-sm-4 text-center">
      <span class="p-input-icon-left">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" pInputText [(ngModel)]="value" (ngModelChange)="onInputChange($event)" />
      </span>
    </div>
  </div>


  <div class="row">
    <!-- Columna de Categorías -->
    <div  class="col-xl-2 col-lg-3 col-md-3 col-sm-12">
      <h1>Categorías</h1>
      <ul class="categoria-list">
        <li *ngFor="let cat of categoria" class="categoria-item"  (click)="filtrarPorCategoria(cat.id)"
          [class.active]="cat.id === idCategoriaFiltrada && filtrandoPorCategoria">
          <img  [src]="cat.imagen" class="img-thumbnail"alt="Imagen del producto" >
          {{ cat.nombre }} ({{ cat.productos }})
        </li>
      </ul>
      <!-- Botón para quitar el filtro -->
      <button *ngIf="filtrandoPorCategoria" pButton type="button" (click)="quitarFiltro()"
        class="btn btn-primary">Quitar filtro</button>
    </div>

    <!-- Columna de Productos -->
    <div class="col-xl-10 col-lg-9 col-md-9 col-sm-12">
      <div class="row align-items-center" >
        <ng-container  *ngFor="let producto of productos">
          <div class=" col-xl-3 col-lg-4 col-md-6 col-sm-12" >
            <p-card class="card" [header]="producto.nombre" >
              <ng-template pTemplate="header" >
                <img [src]="producto.imagen" alt="Imagen del producto" class="product-image"  (click)="doView(producto)" >
              </ng-template>
      
              <p>Precio: {{producto.precio}} €</p>
              <p class="stock" *ngIf="producto.stock === 0">Sin existencias</p>
              <p class="stock" *ngIf="producto.stock > 0">En Existencias</p>

               <ng-template pTemplate="footer">
                <div *ngIf="strUserName && producto.stock != 0" class="d-grid gap-2">
                  <button pButton type="button" label="Añadir al carrito" (click)="agregarAlCarrito(producto)" class="btn btn-primary btn-block">
                    
                  </button>
                </div>
              </ng-template>
            </p-card>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>


<!-- Paginación -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center mb-3">
      <button pButton type="button" label="Anterior"  (click)="cargarPagina(-1)" class="btn btn-primary  me-2"></button>
      <button pButton type="button" label="Siguiente" (click)="cargarPagina(1)" class="btn btn-primary "></button>
    </div>
  </div>
</div>