.container {
  margin-top: 20px;
}



.p-input-icon-left i.fa-solid.fa-magnifying-glass {
  font-size: 1.5em;
  color: #555;

}


.p-input-icon-left input[type="text"] {
  font-size: 16px;
  border: 1px solid #ccc;


}


.img-thumbnail {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;

}

.categoria-list {
  list-style-type: none;
  padding: 0;
}

/* Estilos por defecto */
.product-image {
  width: 100%;
  height: 220px;
  cursor: pointer;
}

/* Estilos para dispositivos pequeños (sm) */
@media screen and (max-width: 768px) {
  .product-image {
    width: 100%;
    height: 350px;
  }
}

/* Estilos para dispositivos medianos y grandes en un rango específico (880px a 1150px) */
@media screen and (min-width: 870px) and (max-width: 1150px) {
  .product-image {
    width: 100%;
    height: 200px; /* Ajusta la altura según tus necesidades */
  }
}

.categoria-item {
  margin-bottom: 5px;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  background-color: #f5f4ed;
}


.categoria-item:hover {
  background-color: #dfded9;
}


.card {
  margin-top: 70px;

}

.categoria-item.active {
  background-color: #f5f4ed;
  font-weight: bold;
}


.btn {
  background-color: #ef6461 !important;
  color: #fff;
  border: none;
  padding: 5 10px;
  border-radius: 5px;


}