<div style="text-align: center; margin-top: 50px;">
  <h1>VALORACIONES</h1>
</div>

<div class="container">
  <div *ngIf="bLoading" class="progress card m-5">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" 
         [style.width.%]="loadingProgress">
      {{ loadingProgress }}%
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <p-toolbar *ngIf="!bLoading">
          <div class="p-toolbar-group-start">
            <p-button class="custom-button" class="px-2" (click)="doGenerateRandom(10)">+10</p-button>
            <p-button class="custom-button"  class="px-2" (click)="doGenerateRandom(50)">+50</p-button>
            <p-button class="custom-button" class="px-2" (click)="doGenerateRandom(100)">+100</p-button>
          </div>
  
          <div class="p-toolbar-group-end">
            <p-splitButton id="2" label="Options" [model]="items"></p-splitButton>
          </div>
        </p-toolbar>
      </div>
    </div>
  </div>
</div>

<app-admin-valoracion-plist-unrouted [forceReload]="forceReload"  [id_usuario]="id_usuario"
[id_producto]="id_producto"*ngIf="!bLoading"></app-admin-valoracion-plist-unrouted>

<p-dialog header="Confirmación" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [closable]="false">
  <p>¿Seguro qué quiere eliminar las valoraciones?</p>
  <p-footer>
    <button class="btn btn-primary mx-1" pButton icon="pi pi-times" label="Sí"  (click)="doEmpty()"></button>
    <button class="btn btn-primary mx-1" pButton icon="pi pi-times" label="No"  (click)="displayDialog = false" ></button>
  </p-footer>
</p-dialog>
