/* Estilos para el contenedor principal */
.container {
    text-align: center;
    margin-top: 35px;
    width: 40%;
  
  }
  
  /* Estilos para el encabezado h1 */
 h1 {
    font-weight: bold;
  }
  

  