<div *ngIf="status !== null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{ status!.error.message }} - {{ status!.message }}
    </div>
  </div>
</div>

<div *ngIf="status == null">
  <div class="container col-12">
    <div class="d-flex justify-content-center my-3">
      <form [formGroup]="valoracionForm" (ngSubmit)="onSubmit()">
        
        <!-- ID field - Only shown in EDIT mode -->
        <div class="form-group">
          <mat-form-field *ngIf="operation === 'EDIT'">
            <mat-label>Id:</mat-label>
            <input matInput formControlName="id" placeholder="Id" required readonly>
            <mat-hint align="end">No se puede modificar</mat-hint>
          </mat-form-field>
        </div>
        
        <!-- Titulo field -->
        <div class="form-group">
          <mat-form-field>
            <mat-label>Título:</mat-label>
            <input matInput formControlName="titulo" placeholder="Título" required>
            <mat-hint align="end">(3 a 255 caracteres de longitud)</mat-hint>
            <mat-error *ngIf="hasError('titulo', 'required')">Campo obligatorio</mat-error>
            <mat-error *ngIf="hasError('titulo', 'minlength')">Mínimo 3 caracteres</mat-error>
            <mat-error *ngIf="hasError('titulo', 'maxlength')">Límite excedidos</mat-error>
            <mat-error *ngIf="hasError('titulo', 'startWithCapitalLetter')">Debe comenzar con mayúscula</mat-error>
          </mat-form-field>
        </div>

        <!-- Fecha field -->
        <div class="form-group">
          <mat-form-field>
            <mat-label>Fecha de creación:</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha" (dateInput)="addEvent('input', $event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <div *ngIf="hasError('fecha', 'required')" class="text-danger">La fecha es obligatoria.</div>
          </mat-form-field>
        </div>

        <!-- Mensaje field -->
        <div class="form-group">
          <mat-form-field>
            <mat-label>Mensaje:</mat-label>
            <textarea matInput formControlName="mensaje" placeholder="Mensaje" required></textarea>
            <mat-error *ngIf="hasError('mensaje', 'required')">El mensaje es obligatorio</mat-error>
            <mat-error *ngIf="hasError('mensaje', 'minlength')">El mensaje debe tener al menos 3 caracteres</mat-error>
            <mat-error *ngIf="hasError('mensaje', 'maxlength')">El mensaje excede el límite de caracteres</mat-error>
            <mat-error *ngIf="hasError('mensaje', 'startWithCapitalLetter')">El mensaje debe comenzar con mayúscula</mat-error>

          </mat-form-field>
        </div>

        <!-- User field -->
        <div formGroupName="user" class="row ">
          <div class="col-8">
            <div class="form-group">
              <mat-form-field>
                <mat-label>Id Usuario:</mat-label>
                <input matInput formControlName="id" placeholder="Id Usuario" required readonly>

              </mat-form-field>
            </div>
          </div>
          <div class="col-4">
            <button class="btn btn-primary" type="button" (click)="onShowUsersSelection()">
              <i class="fa-solid fa-person-circle-plus"></i> 
            </button>
          </div>
        </div>


        <!-- Producto field -->
        <div formGroupName="producto" class="row">
          <div class="col-8">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Id Producto:</mat-label>
              <input matInput formControlName="id" placeholder="Id Producto" required readonly>

            </mat-form-field>
          </div>
          </div>
          <div class="col-4">
          <button  class="btn btn-primary" type="button" (click)="onShowProductosSelection()">
            <i class="fa-solid fa-boxes-stacked"></i>
          </button>
        </div>
        </div>
       
        <div class="text-center mt-5">
          <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<p-messages></p-messages>