<div *ngIf="status != null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{ status!.error.message }} - {{ status!.message }}
    </div>
  </div>
</div>

<div *ngIf="status == null">
  <div class="container col-12">
    <div class="d-flex justify-content-center my-3">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        
        <!-- ID field - Only shown in EDIT mode -->
        <div class="form-group">
          <mat-form-field  *ngIf="operation == 'EDIT'">
            <mat-label>ID:</mat-label>
            <input matInput formControlName="id" placeholder="ID" required readonly>
            <mat-hint align="end">No se puede cambiar</mat-hint>
          </mat-form-field>
        </div>
        
        <!-- Nombre field -->
        <div class="form-group">
          <mat-form-field>
            <mat-label>Nombre:</mat-label>
            <input matInput formControlName="nombre" placeholder="Nombre" required>
       
            <mat-error *ngIf="hasError('nombre', 'required')">Campo obligatorio</mat-error>
            <mat-error *ngIf="hasError('nombre', 'minlength')">Mínimo 3 caracteres</mat-error>
            <mat-error *ngIf="hasError('nombre', 'maxlength')">Excede el límite de caracteres</mat-error>
            <mat-error *ngIf="hasError('nombre', 'startWithCapitalLetter')">Debe comenzar con mayúscula</mat-error>
          </mat-form-field>
        </div>

        <!-- Precio field -->
        <div class="form-group">
          <mat-form-field>
            <mat-label>Precio:</mat-label>
            <input matInput type="number" formControlName="precio" placeholder="Precio" step="0.01" required>
            <mat-error *ngIf="hasError('precio', 'required')">Campo obligatorio</mat-error>
            <mat-error *ngIf="hasError('precio', 'pattern')">Debe ser mayor a 0</mat-error>
          </mat-form-field>
        </div>

        <!-- Iva field -->
        <div class="form-group">
          <mat-form-field>
            <mat-label>Iva:</mat-label>
            <input matInput type="number" formControlName="iva" placeholder="Iva" step="0.01" required>
            <mat-error *ngIf="hasError('iva', 'required')">Campo obligatorio</mat-error>
            <mat-error *ngIf="hasError('iva', 'pattern')">Debe ser mayor a 0</mat-error>
          </mat-form-field>
        </div>

      <!-- Stock field -->
      <div class="form-group">
        <mat-form-field>
          <mat-label>Stock:</mat-label>
          <input matInput type="number" formControlName="stock" placeholder="Stock" required>
          <mat-error *ngIf="hasError('stock', 'required')"> Campo obligatorio</mat-error>
          <mat-error *ngIf="hasError('stock', 'pattern')">Debe ser mayor a 0</mat-error>

        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Descripción:</mat-label>
          <textarea matInput formControlName="descripcion" placeholder="Descripción" required></textarea>
          <mat-error *ngIf="hasError('descripcion', 'required')">Campo obligatorio</mat-error>
          <mat-error *ngIf="hasError('descripcion', 'minlength')">Mínimo 3 caracteres</mat-error>
          <mat-error *ngIf="hasError('descripcion', 'maxlength')">Excede el límite de caracteres</mat-error>
          <mat-error *ngIf="hasError('descripcion', 'startWithCapitalLetter')">Debe comenzar con mayúscula</mat-error>

        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="imagen">Imagen:</label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" required>
        <mat-error *ngIf="hasError('imagen', 'required')">Campo obligatorio</mat-error>

      </div>
        <!-- Categoría field -->
        <div formGroupName="categoria" class="row">
          <div class="col-8">
          <div class="form-group">
            <mat-form-field >
              <mat-label>Categoría:</mat-label>
              <input matInput formControlName="id" placeholder="ID categoría" required readonly>
            </mat-form-field>
            {{producto.categoria.nombre}}
          </div>
          </div>
          <div class="col-4">
          <button style="margin-bottom: 10px" class="btn btn-primary" type="button" (click)="onShowCategoriaSelection()">
            <i class="fas fa-tags"></i> 
          </button>
        </div>
        </div>
       
        <!-- Botón de Guardar -->
        <div class="text-center mt-5">
          <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>