.user-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Limita el ancho del perfil de usuario */
}

.user-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-info p {
  margin: 5px 0;
}

.order-history {
  width: 100%;
  max-width: 800px; /* Limita el ancho del historial de pedidos */
}

.order-history h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.pedido-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style-type: none; 
}

.pedido-item {
  width: calc(50% - 10px);
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pedido-item:nth-child(odd) {
  margin-right: 20px;
}

.order-info {
  margin-bottom: 10px;
}

.order-info p {
  margin: 5px 0;
}

.order-actions {
  text-align: right;
}

.order-actions a {
  color: #007bff;
  text-decoration: none;
}

.order-actions a:hover {
  text-decoration: underline;
}

/* Estilos para el caso de que no haya pedidos en el historial */
.no-pedidos {
  width: 100%;
  text-align: center;
  color: #999;
  font-style: italic;
}