<div class="user-profile-container">
  <div class="user-info">
    <h2>{{ usuarios.nombre }} {{ usuarios.apellido1 }} {{ usuarios.apellido2 }}</h2>
    <p><strong>Email:</strong> {{ usuarios.email }}</p>
    <p><strong>Teléfono:</strong> {{ usuarios.telefono }}</p>
    <p><strong>Dirección:</strong> {{ usuarios.direccion }}</p>
    <p><strong>Username:</strong> {{ usuarios.username }}</p>
    <p><strong>Carritos:</strong> {{ usuarios.carritos}}</p>
    <p><strong>Valoraciones:</strong> {{ usuarios.valoracion}}</p>
    <p><strong>Pedidos:</strong> {{ usuarios.pedidos }}</p>
  </div>
  </div>

