<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-5 d-none d-md-block">
      <i class="fa-solid fa-circle-info"></i>
    </div>

    <div class="col-lg-7 col-md-7 col-sm-12">
      <p-card class="custom-card">
        <ng-template pTemplate="content">
          <div>
            <h1>CATEGORIA</h1>
            <div><strong>Nombre:</strong> {{ categorias.nombre }}</div>
            <div><strong >Imagen:</strong> <img class="rounded" class="img-thumbnail" [src]="categorias.imagen" [alt]="categorias.nombre" >
            </div>
            <div *ngIf="categorias.productos !== undefined">
              <strong>Productos:</strong>
              <ng-container *ngIf="categorias.productos > 0; else noProductos">
                <a [routerLink]="['/admin','producto','plist','bycategoria',categorias.id]">
                  {{ categorias.productos }}
                </a>
              </ng-container>
              <ng-template #noProductos>
                <span>0</span>
              </ng-template>
            </div>
          </div>
        </ng-template>
      </p-card>
      <button *ngIf="mostrarBotones" class="btn btn-primary" (click)="volverAtras()">Volver atrás</button>

    </div>
  </div>
</div>