.title {
  margin-bottom: 15px;
}

.custom-badge {
  background-color: #e4b363;
  color: #fff;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 12px;





}



.user-info {
  font-weight: bold;

}



p-card {
  padding: 4px 4px;
}


.crearValoraciones {
  background-color: #f5f4ed;
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;



}

.btn-primary {
  background-color: #ef6461;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 16px;
  margin-bottom: 10px;


}

.fa-solid {
  font-size: 20px;
  cursor: pointer;
  margin-right: 3px;
  color: #ef6461;
}

.icon-link i:hover {
  color: #d4605e;
  /* Cambia el color del icono al pasar el ratón sobre él */
}


.info {
  font-size: 16px;
  margin-top: 10px;
  text-align: justify;
}

.message {
  font-size: 16px;
  margin-left: 10px;
}