
<div *ngIf="status != null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{ status!.error.message }} - {{ status!.message }}
    </div>
  </div>
</div>

<p-divider></p-divider>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-10 col-md-12 col-sm-12">
      <div class="flex align-items-center justify-content-start">
      
        <p-paginator (onPageChange)="onPageChange($event)" [first]="paginatorState.first!"
        [rows]="paginatorState.rows!" [totalRecords]="page?.totalElements || 0" [showFirstLastIcon]="false" 
            [showCurrentPageReport]="true" currentPageReportTemplate="{first} - {last} de {totalRecords}" ></p-paginator>
    </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-7 col-md-6 col-sm-6">
      <!-- Contenedor con información de las valoraciones -->
      <ng-container *ngIf="page?.content">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12" *ngFor="let valoracion of page?.content">
            <p-card class="custom-card">
              <ng-template pTemplate="title">
                <div>{{ valoracion.titulo }}</div>
              </ng-template>
              <ng-template pTemplate="subtitle">
                <span class="custom-badge">{{ valoracion.fecha | date: 'dd/MM/yyyy' }}</span>
              </ng-template>
              <ng-template pTemplate="content">
                <div class="card-content">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="user-info">{{ valoracion.user.nombre }} {{ valoracion.user.apellido1 }}</div>
                    <div class="message">{{ valoracion.mensaje }}</div>
                    <button *ngIf="isUsuarioValoracion(valoracion)" (click)="borrarValoracion(valoracion.id)" class="button is-danger">Borrar valoración</button>

                  </div>
                </div>
              </ng-template>
            </p-card>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="col-lg-5 col-md-6 col-sm-6">
      <div class="valoraciones">
          <h1>Valora el producto</h1>
          <p>¡Queremos conocer tu opinión sobre nuestro producto! Tu valoración nos ayuda a mejorar y a ofrecerte mejores productos.</p>
          <button type="button" class="btn btn-primary btn-lg mt-3" (click)="postNuevaValoracion()">Hacer valoración</button>
          <div class="info">
            <p>
              Todas las valoraciones son revisadas antes de ser publicadas. Nos reservamos el derecho de moderar y eliminar comentarios que no cumplan con nuestras políticas.</p>
          </div>
      </div>
  </div>