<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status==null">
  <div class="container col-12">
    <div class="d-flex justify-content-center my-3">
      <form [formGroup]="categoriaForm" (ngSubmit)="onSubmit()">

        <!-- ID field - Only shown in EDIT mode -->
        <div class="form-group">
          <mat-form-field *ngIf="operation == 'EDIT'">
            <mat-label>ID:</mat-label>
            <input matInput formControlName="id" placeholder="ID" required readonly>
            <mat-hint align="end">No se puede modificar</mat-hint>
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>Nombre:</mat-label>
          <input matInput formControlName="nombre" placeholder="nombre" required>
          <mat-error *ngIf="hasError('nombre', 'required')">Campo requerido</mat-error>
          <mat-error *ngIf="hasError('nombre', 'minlength')">Mínimo 3 caracteres</mat-error>
          <mat-error *ngIf="hasError('nombre', 'maxlength')">Límite excedido</mat-error>
          <mat-error *ngIf="hasError('nombre', 'startWithCapitalLetter')">Debe comenzar con mayúscula</mat-error>

        </mat-form-field>

        <div class="form-group">
          <label for="imagen">Imagen:</label>
          <input type="file" (change)="onFileSelected($event)" accept="image/*" required>
          <mat-error *ngIf="hasError('imagen', 'required')">Campo obligatorio</mat-error>
  
        </div>

        <div class="text-center mt-5">
          <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>