<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="d-flex justify-content-center mb-3">
        <h1 class="my-5">Inicio de sesión</h1>
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="d-flex justify-content-center my-3">
    <p-panel>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="p-grid p-dir-col">
          <div class="p-col">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="fa-solid fa-user"></i>              
              </span>
              <input id="username" type="text" pInputText formControlName="username" class="form-control" placeholder="Usuario" matInput>
            </div>
            <mat-error *ngIf="loginForm.get('username')?.hasError('required')">Usuario requerido</mat-error>
          </div>
          <div class="p-col">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="fa-solid fa-lock"></i>
                            </span>
              <input id="password" type="password" pInputText formControlName="password" class="form-control" placeholder="Contraseña" matInput>
            </div>
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Contraseña requerida</mat-error>
            <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">La contraseña debe tener al menos 6 caracteres</mat-error>
          </div>
          <div class="p-col">
            <button pButton type="submit" label="Iniciar sesión" class="btn btn-danger m-2" [disabled]="!loginForm.valid"></button>
            <button pButton type="button" label="Limpiar" class="btn btn-danger m-2" (click)="onReset()"></button>
          </div>
        
        </div>
      </form>
    </p-panel>
  </div>

  <div class="col-12 mt-5">
    <div class="card">
      <div class="card-body">
        <div class="control-group text-center mt-3">
          <button pButton type="button" label="Ingresar como Administrador" class="btn btn-danger m-2" (click)="loginAdmin()"></button>
          <button pButton type="button" label="Ingresar como Usuario" class="btn btn-success m-2" (click)="loginUser()"></button>
        </div>
      </div>
    </div>
  </div>
</div>