<div class="container" *ngIf="page && page.content.length > 0">
  <div class="table-responsive"> <!-- Agregamos esta clase para que la tabla sea responsive -->
    <table class="table is-fullwidth is-bordered">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Iva</th>
          <th>Cantidad</th>
          <th>Coste Total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carrito of page?.content">
          <td>
            <img [src]="carrito.producto.imagen" [alt]="carrito.producto.nombre" style="max-width: 100px;">
          </td>
          <td>{{carrito.producto.nombre}}</td>
          <td>{{carrito.producto.precio | Precio }} Є</td>
          <td>{{carrito.producto.iva}} %</td>
          <td>
            <div class="cantidad-container">
              <i class="fa-solid fa-minus btn-icon" (click)="updateCantidad(carrito, carrito.cantidad - 1)"></i>
              <span>{{carrito.cantidad}}</span>
              <i class="fa-solid fa-plus btn-icon" (click)="updateCantidad(carrito, carrito.cantidad + 1)"></i>
            </div>
          </td>
          <td>{{ precioIndividualMap.get(carrito.id) | Precio }}</td>
          <td>
            <div class="acciones-container">
              <i class="fa-solid fa-trash btn-icon" (click)="eliminarDelCarrito(carrito.id)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="seguir-comprando-container text-center"> <!-- Agregamos la clase text-center para centrar el botón -->
    <h3 class="title is-4">Total: {{ costeTotal.toFixed(2) + " €" }}</h3>
    <button class="btn btn-primary" (click)="comprarTodosCarritos()">Comprar</button>
    <button class="btn btn-primary" (click)="user && eliminarTodosCarritos(user.id)">Vaciar cesta</button>
  </div>
  <div>
    <button class="btn btn-seguir-comprando" (click)="volverAtras()">Seguir Comprando</button>
  </div>
</div>


<div class="container" *ngIf="page && page.content.length === 0">
  <div class="text-center"> <!-- Centramos el contenido -->
    <h2>¡Tu carrito está vacío!</h2>
    <p>Todavía no has añadido nada a tu carrito.</p>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>

<p-dialog header="Confirmación" [(visible)]="displayDialogCompra" [modal]="true" [responsive]="true" [closable]="false">
  <p>¿Desea comprar todos los productos?</p>
  <p-footer>
    <button class="btn btn-primary mx-1" pButton icon="pi pi-times" label="Sí"   (click)="confirmCompra()"></button>
    <button class="btn btn-primary mx-1" pButton icon="pi pi-times" label="No"  (click)="cancelCompra()"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Confirmación" [(visible)]="displayDialogBorrar" [modal]="true" [responsive]="true" [closable]="false">
  <p>¿Desea eliminar todos los productos?</p>
  <p-footer>
    <button class="btn btn-primary mx-1" pButton icon="pi pi-times" label="Sí"(click)="confirmDelete()"></button>
    <button class="btn btn-primary mx-1"pButton icon="pi pi-times" label="No" (click)="cancelDelete()"></button>
  </p-footer>
</p-dialog>