img {
    width: 50%;
    height:50%;
  
  }

  .btn {
    background-color: #ef6461 !important;
    border: none;
    color: white;
    padding: 4px 7px;
    border-radius: 5px;
    margin-left: 1px;
 
  }
  