img {
    width: 50%;
    height:20%;
  
  }

  .btn {
    background-color: #ef6461 !important;
    border: none;
    color: white;
    padding: 4px 7px;
    border-radius: 5px;
    margin-left: 1px;
 
  }

  .container {
    background-color: #e8e9eb;
    padding: 10px;
    border-radius: 5px;
    
  }
  .cantidad-container i {

    cursor: pointer; 
    margin-right: 3px;
    color:#ef6461 ;
  }
  
  .acciones-container i {
    cursor: pointer; 
    margin-right: 3px;
    color:#ef6461;
    font-size: 20px;
    align-items: center;
  }