<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-5 d-none d-md-block">
      <i class="fa-solid fa-circle-info"></i>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12">
      <p-card class="custom-card">
        <ng-template pTemplate="content">
          <div>
            <h1>PEDIDO</h1>
            <div><strong>Fecha Pedido:</strong> {{ pedidos.fecha_pedido | date: 'dd/MM/yyyy' }}</div>
            <div><strong>Fecha entrega:</strong> {{ pedidos.fecha_entrega | date: 'dd/MM/yyyy' }}</div>
            <div><strong>Estado Pedido:</strong>
              <span *ngIf="pedidos.estado_pedido; else notDelivered">Entregado</span>
              <ng-template #notDelivered>No entregado</ng-template>
            </div>
            <div><strong>Factura:</strong> {{ pedidos.factura }}</div>
            <div *ngIf="pedidos.detallePedidos !== undefined">
              <strong>Detalles Pedidos:</strong>
              <ng-container *ngIf="pedidos.detallePedidos > 0; else noDetallePedidos">
                <a [routerLink]="['/admin','detallePedido','plist','bydetallePedido',pedidos.id]">
                  {{ pedidos.detallePedidos }}
                </a>
              </ng-container>
              <ng-template #noDetallePedidos>
                <span>0</span>
              </ng-template>
            </div>

            <div *ngIf="pedidos.user !== undefined">
              <strong>Usuarios:</strong>
              <ng-container *ngIf="pedidos.user.id">
                <a [routerLink]="['/admin','pedidos','plist','byusuario',pedidos.user.id]">
                  {{ pedidos.user.id }} {{ pedidos.user.nombre}} {{ pedidos.user.apellido1}}
                </a>
              </ng-container>
            </div>
            <button class="btn btn-primary" (click)="volverAtras()">Volver atrás</button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
