
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img src="https://res.cloudinary.com/dtunlhsqn/image/upload/v1758784802/cdv0hqddrtr5fbremvmt.png" width="120px" height="30px" alt="EverGrowth">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas"
      aria-controls="navbarOffcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarOffcanvas" aria-labelledby="offcanvasLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="navbarOffcanvasLabel">Menú</h5>
        <button type="button" class="btn-close text-reset" id="navbarOffcanvas" data-bs-toggle="offcanvas2" data-bs-target="#navbarOffcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
          <li class="nav-item">
            <a class="nav-link" [class.active]="strUrl=='/home'||strUrl=='/'" aria-current="page" routerLink="/home" *ngIf="strUserName && oSessionUser?.rol==false"> Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="strUrl=='/home'||strUrl=='/'" aria-current="page" routerLink="/home" *ngIf="strUserName && oSessionUser?.rol==true"> Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="strUrl=='/admin/valoracion/plist'||strUrl=='/'" aria-current="page"
              routerLink="/admin/valoracion/plist" *ngIf="strUserName && oSessionUser?.rol==false"> Valoracion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="strUrl=='/admin/usuario/plist'||strUrl=='/'" aria-current="page"
              routerLink="/admin/usuario/plist" *ngIf="strUserName && oSessionUser?.rol==false"> Usuario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="strUrl=='/admin/producto/plist'||strUrl=='/'" aria-current="page"
              routerLink="/admin/producto/plist" *ngIf="strUserName && oSessionUser?.rol==false">Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="strUrl=='/admin/pedido/plist'||strUrl=='/'" aria-current="page"
              routerLink="/admin/pedido/plist" *ngIf="strUserName && oSessionUser?.rol==false"> Pedido</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="strUrl=='/admin/detallePedido/plist'||strUrl=='/'" aria-current="page"
              routerLink="/admin/detallePedido/plist" *ngIf="strUserName && oSessionUser?.rol==false"> DetallePedido</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="strUrl=='/admin/categoria/plist'||strUrl=='/'" aria-current="page"
              routerLink="/admin/categoria/plist" *ngIf="strUserName && oSessionUser?.rol==false">Categoria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="strUrl=='/admin/carrito/plist'||strUrl=='/'" aria-current="page"
              routerLink="/admin/carrito/plist" *ngIf="strUserName && oSessionUser?.rol==false"> Carrito</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="strUrl=='/usuario/pedido/plist/'+ oSessionUser?.id || strUrl=='/'" aria-current="page" routerLink="/usuario/pedido/plist/{{oSessionUser?.id}}" *ngIf="strUserName && oSessionUser?.rol==true"> Mis pedidos</a>
          </li>
        </ul> 
        
        <div class="ms-auto d-flex">
          <span class="navbar-text mx-1" *ngIf="strUserName">
              <a class="nav-link" (click)="doSessionUserView($event)"  >{{strUserName}}</a>
          </span>
          <span class="navbar-text mx-1" *ngIf="!strUserName">
              No logueado
          </span>
          <span class="navbar-text mx-1">
              <a class="nav-link" routerLink="/login" href="#" *ngIf="!strUserName" [class.active]="strUrl.startsWith('/login')">Login</a>
          </span>
          <span class="navbar-text mx-1">
              <a class="nav-link" routerLink="/logout" href="#" *ngIf="strUserName" [class.active]="strUrl.startsWith('/logout')">Logout</a>
          </span>
          <span class="navbar-text mx-1">
            <i *ngIf="strUserName && oSessionUser?.rol === true" (click)="mostrarCarrito($event)" class="fa-solid fa-cart-shopping"></i>
          </span>
                  
      </div>
      
      </div>
    </div>
  </div>
</nav>

