<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EverGrowth</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [class.active]="strUrl=='/home'||strUrl=='/'" aria-current="page"
          routerLink="/home"><i class="fas fa-home"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[class.active]="strUrl=='/admin/valoracion'||strUrl=='/'" aria-current="page"
          routerLink="/admin/valoracion"><i class="fas fa-star"></i> Valoracion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="strUrl=='/admin/usuario'||strUrl=='/'" aria-current="page"
          routerLink="/admin/usuario/plist"><i class="fas fa-user"></i> Usuario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-box"></i> Producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i> Pedido</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-receipt"></i> DetallePedido</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-tags"></i> Categoria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-shopping-basket"></i> Carrito</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
