
.navbar {
  background-color: #e4b363 !important; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 

}
.offcanvas{
  background-color: #e4b363 ; 
}
.navbar-nav .nav-link {
  color: #313638; 

}

.navbar-nav .nav-link:hover {
  color: #e8e8e8; 
}

.navbar-nav .nav-link.active {
  color: #e8e8e8; 
}


.navbar-brand {
  margin-right: 15px; 
}

.navbar-toggler {
  border: none; 
}

.container-fluid { 
  padding-right: 15px;
  padding-left: 15px; 
}


.navbar-collapse {
  margin-right: -15px; 
  margin-left: -15px; 
}


.navbar-collapse .navbar-nav {
  padding: 0; 
}