
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EverGrowth</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas"
      aria-controls="navbarOffcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarOffcanvas" aria-labelledby="navbarOffcanvasLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="navbarOffcanvasLabel">Menú</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [class.active]="strUrl=='/home'||strUrl=='/'" aria-current="page" routerLink="/home"><i
                class="fas fa-home"></i> Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="strUrl=='/admin/valoracion'||strUrl=='/'" aria-current="page"
              routerLink="/admin/valoracion/plist" *ngIf="strUserName && oSessionUser?.rol==false"><i class="fas fa-star"></i> Valoracion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="strUrl=='/admin/usuario'||strUrl=='/'" aria-current="page"
              routerLink="/admin/usuario/plist" *ngIf="strUserName && oSessionUser?.rol==false"><i class="fas fa-user"></i> Usuario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="strUrl=='/admin/producto'||strUrl=='/'" aria-current="page"
              routerLink="/admin/producto/plist" *ngIf="strUserName && oSessionUser?.rol==false"><i class="fas fa-box"></i> Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="strUrl=='/admin/pedido'||strUrl=='/'" aria-current="page"
              routerLink="/admin/pedido/plist" *ngIf="strUserName && oSessionUser?.rol==false"><i class="fas fa-shopping-cart"></i> Pedido</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="strUrl=='/admin/detallePedido'||strUrl=='/'" aria-current="page"
              routerLink="/admin/detallePedido/plist" *ngIf="strUserName && oSessionUser?.rol==false"><i class="fas fa-receipt"></i> DetallePedido</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="strUrl=='/admin/categoria'||strUrl=='/'" aria-current="page"
              routerLink="/admin/categoria/plist" *ngIf="strUserName && oSessionUser?.rol==false"><i class="fas fa-tags"></i> Categoria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="strUrl=='/admin/carrito'||strUrl=='/'" aria-current="page"
              routerLink="/admin/carrito/plist" *ngIf="strUserName && oSessionUser?.rol==false"><i class="fas fa-shopping-basket"></i> Carrito</a>
          </li>
        </ul>
        
        <div class="ms-auto d-flex">
          <span class="navbar-text mx-1" *ngIf="strUserName">
              <a class="nav-link" >{{strUserName}}</a>
          </span>
          <span class="navbar-text mx-1" *ngIf="!strUserName">
              No logueado
          </span>
          <span class="navbar-text mx-1">
              <a class="nav-link" routerLink="/login" href="#" *ngIf="!strUserName" [class.active]="strUrl.startsWith('/login')">Login</a>
          </span>
          <span class="navbar-text mx-1">
              <a class="nav-link" routerLink="/logout" href="#" *ngIf="strUserName" [class.active]="strUrl.startsWith('/logout')">Logout</a>
          </span>
      
      </div>
      </div>
    </div>
  </div>
</nav>