.shipping-details {
  background-color: #f5f4ed;
  padding: 20px;
  border-radius: 5px;
}


.product-details{
  background-color: #f5f4ed;
  padding: 20px;
  border-radius: 5px;
  margin-top:20px;
}
.shipping-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
  font-size: 16px;

}

.shipping-info {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.icon {
  margin-right: 10px;
}

.form-group {
  margin-top: 20px;
}

.form-label {
  font-size: 18px;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: #ef6461 !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;

}

.product-details{
  font-size: 16px;
  text-align: justify;
  margin-bottom: 10px;

}

.imagen {
  border: 7px solid #f5f4ed; 
  padding: 5px; 
  border-radius: 5px;

}



/* Tamaño máximo de la imagen para dispositivos pequeños y medianos (por ejemplo, tabletas y teléfonos móviles en modo paisaje) */
@media (max-width: 768px) {
  .imagen {
    max-width: 500px;
    max-height: 435px;
    margin-bottom: 10px;
  }
}

/* Tamaño máximo de la imagen para dispositivos grandes y extra grandes (por ejemplo, pantallas de escritorio) */
@media (min-width: 992px) {
  .imagen {
    max-width: 600px;
    max-height: 600px;
    margin-bottom: 10px;
  }
}

/* Tamaño máximo de la imagen para dispositivos extra grandes (por ejemplo, pantallas de escritorio muy grandes) */
@media (min-width: 1200px) {
  .imagen {
    max-width: 700px;
    max-height: 700px;
  }
}
