<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <img [src]="productos.imagen" alt="Imagen del producto" class="imagen img-fluid">
      </div>
    </div>
 
      <!-- Detalles de envío y cantidad -->
      <div class="col-lg-4">
        <div class="shipping-details">
          <h2 class="shipping-title">Detalles de envío</h2>
          <p class="shipping-info">
            <span class="icon"><i class="fas fa-clock"></i></span>
            Compralo ahora y recíbelo en 2-3 días.
          </p>
          <p class="shipping-info">
            <span class="icon"><i class="fas fa-truck"></i></span>
            Envío gratuito para pedidos superiores a 50€ sin IVA.
          </p>
          <p class="shipping-info">
            <span class="icon"><i class="fa-solid fa-circle-info"></i></span>
            Devolución gratuita hasta 10 días.
          </p>
          <!-- Campo de entrada para la cantidad -->
          <div class="form-group mt-3">
            <label for="cantidad" class="form-label">Cantidad:</label>
            <input type="number" id="cantidad" class="form-control" min="1"max={{productos.stock}} (keydown)="handleKeyDown($event)" [(ngModel)]="cantidadSeleccionada">
          </div>
          <button type="button" class="btn btn-primary btn-lg mt-3 me-2" (click)="agregarAlCarrito()" [disabled]="productos.stock === 0">
            Añadir al carrito
          </button>
        </div>
      </div>
  </div>
</div>
<div class="row">
<div class="col-lg-12">
  <div class="product-details">
    <h1>{{ productos.nombre }}</h1>
    <p class="product-description">{{ productos.descripcion }}</p>
    <div class="price-stock">
      <p class="price">Precio: {{ productos.precio }} €</p>
      <p class="stock" *ngIf="productos.stock === 0">Sin existencias</p>
      <p class="stock" *ngIf="productos.stock > 0">En Existencias</p>
    </div>
    <p class="rating">{{ productos.valoracion }} opiniones</p>
  </div>
</div>
</div>
<p-confirmPopup></p-confirmPopup>
