<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Columna para el nombre de la empresa y el teléfono -->
      <div class="col-md-6">
        <div class="company-info">
          <h3>¡Bienvenido a EverGrowth!</h3>
          <p><i class="fas fa-phone"></i> Teléfono: 632-876-300</p>
          <p><i class="fas fa-envelope"></i> Email: everGrowth&#64;gmail.com</p>
        </div>
      </div>
      <!-- Columna para el mapa de navegación -->
      <div class="col-md-6">
        <div class="map-navigation">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-unstyled">
                <li><a href="/home">Inicio</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>