.footer {
  background-color: #e4b363 !important; 
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}

.footer-column {
  flex: 1;
}

.footer-column h3 {
  color: #333;
}

.footer-column p {
  margin: 5px 0;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons i {
  font-size: 24px;
  margin-right: 10px;
  color: #333;
}

