<div *ngIf="status != null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{ status!.error.message }} - {{ status!.message }}
    </div>
  </div>
</div>

<div *ngIf="status == null">
  <div class="container col-12">
    <div class="d-flex justify-content-center my-3">
      <form [formGroup]="pedidoForm" (ngSubmit)="onSubmit()">

        <!-- ID field - Only shown in EDIT mode -->
        <div class="form-group">
          <mat-form-field *ngIf="operation == 'EDIT'">
            <mat-label>Id:</mat-label>
            <input matInput formControlName="id" placeholder="ID" required readonly>
            <mat-hint align="end">No se puede modificar</mat-hint>
          </mat-form-field>
        </div>

        <!-- Fecha de Pedido field -->
        <div class="form-group">
          <mat-form-field>
            <mat-label>Fecha de Pedido:</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="fecha_pedido"
              (dateInput)="addEvent('input', $event, 'fecha_pedido')">
              <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <div *ngIf="hasError('fecha_pedido', 'required')" class="text-danger">Campo obligatorio
            </div>
          </mat-form-field>
        </div>

        <!-- Fecha de Entrega field -->
        <div class="form-group">
          <mat-form-field>
            <mat-label>Fecha de Entrega:</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="fecha_entrega"
              (dateInput)="addEvent('input', $event, 'fecha_entrega')">
              <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <div *ngIf="hasError('fecha_entrega', 'required')" class="text-danger">Campo obligatorio
            </div>
          </mat-form-field>
        </div>

        <mat-radio-group aria-label="Estado pedido" formControlName="estado_pedido" required>
          <mat-radio-button [value]="true">Entregado</mat-radio-button>
          <mat-radio-button [value]="false">No entregado</mat-radio-button>
          <mat-error *ngIf="hasError('estado_pedido', 'required')">Campo obligatorio</mat-error>
        </mat-radio-group>



        <!-- User ID field -->
        <div formGroupName="user" class="row">
          <div class="col-8">
          <div class="form-group">
            <mat-form-field>
              <mat-label>User ID:</mat-label>
              <input matInput formControlName="id" placeholder="User ID" required readonly>
            </mat-form-field>
          </div>
          </div>
          <div class="col-4">
          <button style="margin-bottom: 10px" class="btn btn-primary" type="button" (click)="onShowUsersSelection()">
            <i class="fa-solid fa-person-circle-plus"></i> 
          </button>
        </div>
        </div>

        <div class="text-center mt-5">

          <p-button type="submit">Guardar</p-button>

        </div>
      </form>
    </div>
  </div>
</div>