<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-5 d-none d-md-block">
      <i class="fa-solid fa-circle-info"></i>
    </div>

    <div class="col-lg-7 col-md-7 col-sm-12">
      <p-card class="custom-card">
        <ng-template pTemplate="content">
          <div  >
            <h1>PRODUCTO</h1>
            <div><strong>Nombre:</strong> {{ productos.nombre }}</div>
            <div><strong>Descripción:</strong> {{ productos.descripcion | trim:40 }}</div>
            <div><strong>Precio:</strong> {{ productos.precio }}</div>
            <div><strong>Stock:</strong> {{ productos.stock }}</div>
            <div><strong>Iva:</strong> {{ productos.iva }}</div>
            <div><strong >Imagen:</strong> <img class="rounded" class="img-thumbnail" [src]="productos.imagen" alt="Imagen del producto" >
            </div>
          
          
            <div  *ngIf="productos.categoria !== undefined">
              <strong>Categoría:</strong>
              <ng-container *ngIf="productos.categoria.id">
                <a [routerLink]="['/admin','categoria','view',productos.categoria.id]">
                  {{ productos.categoria.id }} {{ productos.categoria.nombre}}
                </a>
              </ng-container>
            </div>

            <div *ngIf="productos.valoracion !== undefined">
              <strong>Valoraciones:</strong>
              <ng-container *ngIf="productos.valoracion > 0; else noValoracion">
                <a [routerLink]="['/admin','valoracion','plist','byproducto',productos.id]">
                  {{ productos.valoracion }}
                </a>
              </ng-container>
              <ng-template #noValoracion>
                <span>0</span>
              </ng-template>
            </div>
            <div *ngIf="productos.carritos !== undefined">
              <strong>Carritos:</strong>
              <ng-container *ngIf="productos.carritos > 0; else noCarritos">
                <a [routerLink]="['/admin','carrito','plist','byproducto',productos.id]">
                  {{ productos.carritos }}
                </a>
              </ng-container>
              <ng-template #noCarritos>
                <span>0</span>
              </ng-template>
            </div>
          </div>
        </ng-template>
      </p-card>
      <button *ngIf="mostrarBotones"  class="btn btn-primary" (click)="volverAtras()">Volver atrás</button>
    </div>
  </div>
</div>
