<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>


<p-table [value]="usuarios" [tableStyle]="{'min-width': '40rem'}">

  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellido1</th>
      <th>Apellido2</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Username</th>
      <th>Rol</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user class="align-middle">
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.nombre }}</td>
      <td>{{ user.apellido1 }}</td>
      <td>{{ user.apellido2 }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.telefono }}</td>
      <td>{{ user.direccion }}</td>
      <td>{{ user.username }}</td>
      <td class="text-center">
        <span *ngIf="user.rol==true">Admin</span>
        <span *ngIf="user.rol==false">User</span>
      </td>
    </tr>
  </ng-template>
</p-table>