<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<p-divider></p-divider>
<div class="d-flex align-items-center justify-content-center">
  <span class="p-input-icon-left">
    <i class="fa-solid fa-magnifying-glass" style="font-size: 1.5em;"></i>
    <input type="text" pInputText [(ngModel)]="value" (ngModelChange)="onInputChange($event)"  style="width: 100%; height: 30px;" />
  </span>
  <p-paginator (onPageChange)="onPageChange($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
    [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 50]" class="mx-2"></p-paginator>
  <h3 class="mb-0">Mostrando {{oPage?.numberOfElements}} de {{oPage?.totalElements}}</h3>
</div>
<div class="container mb-5 mt-3" >          

  <p-table [value]="usuarios">

    <ng-template pTemplate="header">
      <tr>
   
        <th (click)="doOrder('id')">Nombre</th>
        <th (click)="doOrder('Apellido1')">Apellido1</th>
        <th (click)="doOrder('Apellido2')">Apellido2</th>
        <th (click)="doOrder('Email')">Email</th>
        <th>Teléfono</th>
        <th (click)="doOrder('Dirección')">Dirección</th>
        <th (click)="doOrder('Username')">Username</th>
        <th (click)="doOrder('Rol')">Rol</th>
        <th>Pedidos</th>
        <th >Valoraciones</th>
        <th >Carritos</th>
        <th >Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user of oPage?.content class="align-middle">
      <tr >
       
        <td>{{ user.nombre }}</td>
        <td>{{ user.apellido1 }}</td>
        <td>{{ user.apellido2 }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.telefono }}</td>
        <td>{{ user.direccion }}</td>
        <td>{{ user.username }}</td>
        <td class="text-center">
          <span *ngIf="user.rol==true">Admin</span>
          <span *ngIf="user.rol==false">User</span>
        </td>
        <td class="text-center">
          <a [routerLink]="['/admin','thread','plist','byuser',user.id]" *ngIf="user.pedidos>0">{{user.pedidos}}</a>
          <span *ngIf="user.pedidos==0">0</span>
        </td>
        <td class="text-center">
          <a [routerLink]="['/admin','reply','plist','byuser',user.id]"
            *ngIf="user.valoracion>0">{{user.valoracion}}</a>
          <span *ngIf="user.valoracion==0">0</span>
        </td>
        <td class="text-center">
          <a [routerLink]="['/admin','reply','plist','byuser',user.id]" *ngIf="user.carritos>0">{{user.carritos}}</a>
          <span *ngIf="user.carritos==0">0</span>
        </td>
        
        <td class="text-center">

          <div  class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <p-button [rounded]="true" [outlined]="true" [routerLink]="['/admin','user','view',user.id]"><i
                class="fa-solid fa-eye" ></i></p-button>

            <p-button [rounded]="true" severity="success" [outlined]="true"[routerLink]="['/admin','user','edit',user.id]"><i
                class="fa-solid fa-pen-to-square"></i></p-button>
            <p-button [rounded]="true" severity="warning" [outlined]="true"><i class="fa-solid fa-circle-up"></i></p-button>
     
            <p-button [rounded]="true" severity="danger" [outlined]="true" *ngIf="user.pedidos==0 && user.valoracion==0 && user.carritos==0" 
              (click)="doRemove(user)"><i class="fa-solid fa-trash"></i></p-button>
          </div>
        </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
   
        <th (click)="doOrder('id')">Nombre</th>
        <th (click)="doOrder('Apellido1')">Apellido1</th>
        <th (click)="doOrder('Apellido2')">Apellido2</th>
        <th (click)="doOrder('Email')">Email</th>
        <th>Teléfono</th>
        <th (click)="doOrder('Dirección')">Dirección</th>
        <th (click)="doOrder('Username')">Username</th>
        <th (click)="doOrder('Rol')">Rol</th>
        <th>Pedidos</th>
        <th >Valoraciones</th>
        <th >Carritos</th>
        <th >Acciones</th>
      </tr>
    </ng-template>
  </p-table>

</div>


<p-confirmDialog #cd [style]="{ width: '30vw' }">
  <ng-template pTemplate="header">
    <h5><i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem"></i> User removal</h5>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="container d-flex align-items-center justify-content-center">
   
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>¿Seguro que quieres eliminar este usuario?</p>
    <button class="btn btn-primary mx-1" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
    <button class="btn btn-danger mx-1" pButton icon="pi pi-check" label="Sí" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>