
h1{
  
}
.container{
    border-radius: 10px;
    padding: 5px;
     font-size: 1.2em;
  }
  
  .custom-card{
    background-color: #e8e9eb;
  }
  
  /* Estilos para las etiquetas <div> dentro de la tarjeta */
  .custom-card div {
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;
    align-items: center;
  
  }
 
  .icon-link i {
    font-size: 20px; 
    cursor: pointer; 
    margin-right: 3px;
    color:#ef6461;
  }
  
  .icon-link i:hover {
    color:#d4605e; /* Cambia el color del icono al pasar el ratón sobre él */
  }
  
  /* Estilos específicos para las etiquetas <strong> dentro de la tarjeta */
  .custom-card strong {
    color: #313638; 
   
  
  }
  .fa-circle-info {
    font-size: 10em;
    position: relative;
  
    color: #e4b363;
    display: flex;
    justify-content: center;
  }
  
  h1{
  font-weight: bold;
  }
  
  .btn {
    background-color: #ef6461 !important;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px; 
  }
  