<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="d-flex justify-content-center mb-3">
        <h1 class="my-5">Registro</h1>
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="d-flex justify-content-center my-3">
    <p-panel>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="p-grid p-dir-col">
          <div class="p-col">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="fa-solid fa-user"></i>              
              </span>
              <input id="nombre" type="text" formControlName="nombre" class="form-control" placeholder="Nombre" matInput>
            </div>
            <mat-error *ngIf="hasError('nombre', 'required')">Nombre requerido</mat-error>
            <mat-error *ngIf="hasError('nombre', 'minlength')">Mínimo 3 caracteres</mat-error>
            <mat-error *ngIf="hasError('nombre', 'maxlength')">Límite excedido</mat-error>
          </div>
          <div class="p-col">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="fa-solid fa-user"></i>              
              </span>
              <input id="apellido1" type="text" formControlName="apellido1" class="form-control" placeholder="Apellido 1" matInput>
            </div>
            <mat-error *ngIf="hasError('apellido1', 'required')">Apellido 1 requerido</mat-error>
            <mat-error *ngIf="hasError('apellido1', 'minlength')">Mínimo 3 caracteres</mat-error>
            <mat-error *ngIf="hasError('apellido1', 'maxlength')">Límite excedido</mat-error>
          </div>
        
          <div class="p-col">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="fa-solid fa-envelope"></i>
              </span>
              <input id="email" type="email" formControlName="email" class="form-control" placeholder="Correo electrónico" matInput>
            </div>
            <mat-error *ngIf="hasError('email', 'required')">Correo electrónico requerido</mat-error>
            <mat-error *ngIf="hasError('email', 'email')">Correo electrónico inválido</mat-error>
          </div>
          <div class="p-col">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="fa-solid fa-phone"></i>
              </span>
              <input id="telefono" type="tel" formControlName="telefono" class="form-control" placeholder="Teléfono" matInput>
            </div>
            <mat-error *ngIf="hasError('telefono', 'required')">Campo obligatorio</mat-error>
            <mat-error *ngIf="hasError('telefono', 'minlength')">De 3 a 9 caracteres</mat-error>
            <mat-error *ngIf="hasError('telefono', 'maxlength')">Límite excedido</mat-error>
            <mat-error *ngIf="hasError('telefono', 'pattern')">Caracteres no permitidos</mat-error>
          </div>
          <div class="p-col">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="fa-solid fa-map-marker"></i>
              </span>
              <input id="direccion" type="text" formControlName="direccion" class="form-control" placeholder="Dirección" matInput>
            </div>
            <mat-error *ngIf="hasError('direccion', 'required')">Campo obligatorio</mat-error>
            <mat-error *ngIf="hasError('direccion', 'minlength')">Mínimo 5 caracteres</mat-error>
            <mat-error *ngIf="hasError('direccion', 'maxlength')">Límite excedido</mat-error>
          </div>
          <div class="p-col">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="fa-solid fa-user"></i>              
              </span>
              <input id="username" type="text" formControlName="username" class="form-control" placeholder="Nombre de usuario" matInput>
            </div>
            <mat-error *ngIf="hasError('username', 'required')">Campo obligatorio</mat-error>
            <mat-error *ngIf="hasError('username', 'minlength')">Mínimo 6 caracteres</mat-error>
            <mat-error *ngIf="hasError('username', 'maxlength')">Límite excedido</mat-error>
            <mat-error *ngIf="hasError('username', 'pattern')">Caracteres no permitidos</mat-error>          </div>
          <div class="p-col">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input id="password" type="password" formControlName="password" class="form-control" placeholder="Contraseña" matInput>
            </div>
            <mat-error *ngIf="hasError('password', 'required')">Contraseña requerida</mat-error>
            <mat-error *ngIf="hasError('password', 'minlength')">La contraseña debe tener al menos 6 caracteres</mat-error>
          </div>
          <div class="p-col">
            <div style="display: flex; flex-direction: column; align-items: center;">
              <button pButton type="submit" label="Registrarse" class="btn btn-primary m-2" [disabled]="!registerForm.valid" style="width: 100%;"></button>
            </div>
            <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a></p>

          </div>
        </div>
      </form>
    </p-panel>
  </div>
</div>
