<div *ngIf="status != null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{ status!.error.message }} - {{ status!.message }}
    </div>
  </div>
</div>

<div *ngIf="status == null">
  <div class="container col-12">
    <div class="d-flex justify-content-center my-3">
      <form [formGroup]="pedidoForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <mat-form-field *ngIf="operation == 'EDIT'">
            <mat-label>ID:</mat-label>
            <input matInput formControlName="id" placeholder="ID" required readonly>
            <mat-hint align="end">No se puede modificar</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Cantidad</mat-label>
            <input matInput formControlName="cantidad" type="number">
            <mat-error *ngIf="hasError('cantidad', 'required')">Campo requerido</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Precio Unitario</mat-label>
            <input matInput formControlName="precio_unitario" type="number" step="0.01">
            <mat-error *ngIf="hasError('precio_unitario', 'required')">Campo requerido</mat-error>
          </mat-form-field>
        </div>


        <div formGroupName="productos" class="row">
          <div class="col-8">
            <div class="form-group">
              <mat-form-field>
                <mat-label>Producto:</mat-label>
                <input matInput formControlName="id" placeholder="ID Producto" required readonly>
              </mat-form-field>
            </div>
          </div>
            <div class="col-4">
              <button style="margin-bottom: 10px" class="btn btn-primary" type="button"
                (click)="onShowProductoSelection()">
                <i class="fa-solid fa-boxes-stacked"></i>
              </button>
            </div>
          </div>

          <div formGroupName="pedidos" class="row">
            <div class="col-8">
              <div class="form-group">
                <mat-form-field >
                  <mat-label>Pedido:</mat-label>
                  <input matInput formControlName="id" placeholder="ID pedido" required readonly>
                </mat-form-field>
              </div>
            </div>
              <div class="col-4">
                <button style="margin-bottom: 10px" class="btn btn-primary" type="button"
                  (click)="onShowPedidoSelection()">
                  <i class="fa-solid fa-cart-plus"></i> 
                </button>
              </div>
            </div>

            <!-- Botón de Guardar -->

            <div class="text-center mt-5">

              <p-button type="submit">Guardar</p-button>

            </div>
      </form>
    </div>
  </div>
</div>