<div *ngIf="status != null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{ status!.error.message }} - {{ status!.message }}
    </div>
  </div>
</div>

<div *ngIf="status == null" class="d-flex justify-content-center my-3">
  <form [formGroup]="carritoForm" (ngSubmit)="onSubmit()" class="container">
<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <mat-form-field *ngIf="operation == 'EDIT'">
        <mat-label>ID:</mat-label>
        <input matInput formControlName="id" placeholder="ID" required readonly>
        <mat-hint align="end">No se puede modificar</mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Cantidad</mat-label>
        <input matInput formControlName="cantidad" type="number">
        <mat-error *ngIf="hasError('cantidad', 'required')">Campo obligatorio</mat-error>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div formGroupName="producto" class="row">
      <div class="col-8">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Producto:</mat-label>
            <input matInput formControlName="id" placeholder="ID Producto" required readonly>
          </mat-form-field>
          {{ carrito.producto.nombre }}
        </div>
      </div>
      <div class="col-4">
        <button style="margin-bottom: 10px" class="btn btn-primary" type="button" (click)="onShowProductosSelection()">
          <i class="fa-solid fa-boxes-stacked"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div formGroupName="user" class="row">
      <div class="col-8">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Usuario:</mat-label>
            <input matInput formControlName="id" placeholder="ID user" required readonly>
          </mat-form-field>
          {{ carrito.user.nombre }} {{ carrito.user.apellido1 }}
        </div>
      </div>
      <div class="col-4">
        <button style="margin-bottom: 10px" class="btn btn-primary" type="button" (click)="onShowUsersSelection()">
          <i class="fa-solid fa-person-circle-plus"></i> 
        </button>
      </div>
    </div>
  </div>
</div>

    <!-- Botón de Guardar -->
    <div class="text-center mt-5">
      <button class="btn btn-primary" type="submit">Guardar</button>
    </div>
  </form>
</div>

  